In [ ]:
locs = [('고려대학교', 'In', '서울'),
        ('Naver', 'In', '성남'),
        ('KT 위즈', 'In', '성남'),
        ('한화 이글스', 'In', '대전'),
        ('NC 소프트', 'In', '성남'),
        ('삼성', 'In', '서울')]

query = []

for (e1, re1, e2) in locs:
  if e2 == '서울':
    query.append(e1)

print(query)

['고려대학교', '삼성']